@import "variablesMixins";

/*##### aboutus.html #####*/
.paboutus {
    font-size: 20px;
    text-align: center;
  }  

.aboutus-img {
    object-fit: cover;
}
.aboutus-flex    {
    @include dFlex (flex , row , wrap , space-around, center);
}