@import "variablesMixins";

.frontpage{
    background-image: url(../images/index/fondomenu.jpg);
    object-fit: cover;
    height: 93vh;
    @include dFlex(flex , column, nowrap, center, center);
    .frontpagediv {
        text-align: center;
        color: whitesmoke;
        margin: auto;
        .front-text {
            font-size: 8em;
        }
        img{
            margin-top: 0.5em;
            width: auto;
            max-width: 300px;       
        }
    }
}       
main {
    background-color: $color-fondo-Imp;
}
.gallery {
    @include dGrid( repeat(4, auto), 20rem , 0.8em, 1em 3em 2em 3em );
    object-fit: cover;
    grid-template-areas:
    "uno cinco tres seis"
    "uno dos cuatro seis";
}
    .img1 {
        grid-area: uno;
    }
    .img2 {
        grid-area: dos;
    }
    .img8 {
        grid-area: tres;
    }
    .img12 {
        grid-area: cuatro;
    }
    .img7 {
        grid-area: cinco;
    }
    .img6 {
        grid-area: seis;
    }
    .grid-text {
        grid-area: texto;
    }

    .img-gal {    
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

article{
    background-color: $color-fondo-Sec;
    padding: 3rem 1rem;

    /* CAROUSEL */
    .wrapper {
        @include dFlex(flex , row, nowrap, space-evenly, stretch);
        padding-bottom:2rem;
    }

        .card-carousel {
            border: none;
            box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
        }
        .carousel-control-prev , .carousel-control-next {
            background-color: #d1aeb3;
            width: 6vh;
            height: 6vh;
            border-radius: 50%;
            top: 50%;
            transform: translateY(-50%);
        }
}


