@import "variablesMixins";

/* ### Nav Bar ###*/
.navbar {
    background-color: $color-n-f; 
    padding: 4px;
}
    .navbar-toggler {
        background-color: $color-n-sec;
    }
        .navbar-toggler-icon {
            background: $color-n-sec;
        }
        #nav-text {
            text-decoration: none;
            color: black;
            font-size: 30px;
            padding: 4px 8px;
        }
/* ANIMACION*/  #nav-text:hover {
                text-decoration: underline;
                color: black;
                text-shadow: 2px 2px 0px $color-n-sec, 5px 4px 0px rgba(0,0,0,0.15);
            }