@import "variablesMixins";

/* ### the place ###*/
.the-place-wineroom-grid { 
  @include dGrid (repeat(4, 1fr), 1fr, 0.8em);
  
    padding: 0.2em 2em 1em 2em; 
    grid-template-rows: 11rem 8rem 8rem 8rem 8rem ;
    grid-auto-rows: 1fr;
    grid-auto-flow: row;
    grid-template-areas:
      "cava2 cava2 text1 text1"
      "cava2 cava2 text2 text2"
      "corcho cava1 pic1 pic1"
      "t1 t1 pic1 pic1"
      "t2 t2 pic2 pic3";
  }
  
  .corcho { grid-area: corcho; }
  
  .cava1 { grid-area: cava1; }
  
  .cava2 { grid-area: cava2; }
  
  .text1 { grid-area: text1; }
  
  .text3 { grid-area: text3; }
  
  .text2 { grid-area: text2; }
  
  .t1 { grid-area: t1; }
  
  .t2 { grid-area: t2; }
  
  .pic3 { grid-area: pic3; }
  
  .pic2 { grid-area: pic2; }
  
  .pic1 { grid-area: pic1; }
  
.box {
    background-color: aliceblue;
    @include dFlex(flex , row , nowrap , center , center);
}
.ptheplace {
  font-size: 20px;
  text-align: center;
}  
 

