@import "navbar";
@import "footer";
@import "index";
@import "theplace";
@import "aboutus";
@import "menu";
@import "contact";
@import "mediaqueries";


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'IM Fell English SC', serif;
}
